---
title: Oops! Not Found
layout: base
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="not-found">
  <h1>Awww how did you end up here?  <a href="{{ '/' | url }}">Go home</a>.</h1>

  <img src="{{ site.imageRootURL }}/404.jpeg"></img>
</div>