<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href={{ page.url | url | absoluteUrl(site.url) }}>

    {% bundledcss %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">

    <title>
      {{  title  | escape }}
      {% if title %}
         | {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>

    <link rel="icon" type= “image/x-icon” href="/images/favicon.ico">

    <meta property="og:title" content="{{  title or site.name | escape }}">
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ site.url + page.url }}"/>
    <meta name="twitter:card" content="summary_large_image">

    {% if site.author.twitterHandle %}
      <meta name="twitter:creator" content="@{{ site.author.twitterHandle | replace('@', '') }}"/>
    {% endif %}

    {% set desc = description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% if desc %}
      <meta name="description" content="{{ desc | escape  }}">
      <meta property="og:description" content="{{ desc | escape }}">
      <meta name="description" content="{{ desc | escape }}"/>
    {% endif %}

    {% if not socialImage %}
      {% set socialImage = site.defaultSocialImage %}
    {% endif %}
    {% if socialImage %}
      <meta property="og:image" content="{{ socialImage | url | absoluteUrl(site.url) }}"/>
      <meta name="twitter:image" content="{{ socialImage | url | absoluteUrl(site.url) }}"/>
    {% endif %}

    {# Add mermaid -- start #}
      <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
      <script>mermaid.initialize({startOnLoad:true});</script>
    {# Add mermaid -- end #}

    # posthog
    <script>
        !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
        posthog.init('phc_zWD1LIARPT1eaRy0M5cU4ssQ19ZYgvwhXkdUK6PdZSr',{api_host:'https://app.posthog.com'})
    </script>

    # enable seo tag
    {% seo "" %}

  </head>
  <body>
    <div class="layout-wrapper">

      <header class="header">
        <div class="header__content">
          <h1 class="site-title">
            <a href={{ "/" | url }}>
              {{site.name}}
            </a>
          </h1>

          {% if site.headerLinks %}
            <nav class="nav">
              <ul class="nav__list">
                {% for item in site.headerLinks %}
                  {% set currentAttribute = '' %}
                  {% set externalAttribute = '' %}

                  {% if item.external %}
                    {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
                  {% endif %}

                  {% if page.url == item.url %}
                    {% set currentAttribute = 'aria-current="page"' %}
                  {% endif %}

                  <li class="nav-item">
                    <a href="{{ item.url | url }}" {{ currentAttribute | safe }} {{ externalAttribute | safe }}>{{ item.text }}</a>
                  </li>
                {% endfor %}
              </ul>
            </nav>

          {% endif %}

        </div>
      </header>

      <main class="main">
        {{ content | safe }}
      </main>

      <footer class="footer">
        <div class="footer__content">

          <ul class="hero__social-links">
            {% if site.socialLinks %}
              {% for item in site.socialLinks %}
                {% set externalAttribute = '' %}

                {% if item.external %}
                  {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
                {% endif %}

                <li>
                  <a href="{{ item.url | url }}" {{ externalAttribute | safe }} >{{ item.text }}</a>
                </li>
              {% endfor %}
            {% endif %}

            {% if site.footerLinks %}

              {% for item in site.footerLinks %}
                {% set externalAttribute = '' %}

                {% if item.external %}
                  {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
                {% endif %}

                <li>
                  <a href="{{ item.url | url }}" {{ externalAttribute | safe }} >{{ item.text }}</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
          </br>
          © 2021 Dina Youssef
          {% if site.showFooterAttribution %}
            <p class="footer__attribution">
          Theme created by
            <a href="https://github.com/yinkakun/eleventy-duo" target="_blank" rel="noopener noreferrer">Yinka</a>       Powered by <a href="https://www.11ty.dev" target="_blank" rel="noopener">11ty,</a>
            </p>
          {% endif %}

        </div>
      </div>

    </footer>

    {% bundledjs %}
  </body>
</html>